@{
    ViewBag.Title = "Pagina inicial";
}

<!-- Inicio del Nombre del sistema-->

<!--<div class="content-heading">
    <div class="logo" style="font-size: 1.4em; ">
        <%-- Icono sistema --%>
        <em class="fa fa-cube"></em>
    </div>
    <div class="nombrelogo">
        <%-- Nombre sistema --%>
        <em class="fa fa-cube" style="font-size: 1.4em;"></em>&nbsp Sistema
    </div>


</div>-->













<!-- Fin del Nombre del sistema-->



<div class="jumbotron-fluid" style="margin:170px;">


    <h1 class="text-md-center">Bienvenido: </h1>
    <br />
    <h1 class="text-md-center">E. Manzanilla </h1>


</div>

