@{
    ViewBag.Icono = "fas fa-money-check-alt";
    ViewBag.Title = "Foliar";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Foliar</title>
</head>
<body>
    <div>

        <section>
            <div class="row">
                <div class="col">
                    <p  style="margin-left: 30px; font-size: 1.4em;">hola</p>
                </div>

                <div class="col" style="text-align: right;">

                    <p  style="margin-right:30px; font-size: 1.4em; color: #74BC7C;"> v01</p>

                </div>
            </div>
        </section>



    </div>
</body>
</html>
