



<section class="row" style="border:solid;">

    <div class="col-md-12 col-sm text-center" style="border:solid">
        <h1 class="text-md-center">Bienvenido:</h1>
        <br />
        <h1 class="text-md-center">ADMIN </h1>
    </div>


</section>